<section >
    
    <br>
    <div class="row">
        <div class="col-12 col-md-2 ">

        </div>
        <div class="col-12 col-md-4 txt1">
            <h2>We're here to make hiring a little easier.</h2>
          <br>
          <h3 style="color: rgb(1, 1, 119);"><strong>Let's Make Your Next Great Hire. Fast!</strong></h3>
          <br>
          <h5>You know who you're looking for. We'll help you find them.</h5>
         
          </div>
          <div class="col-12 col-md-6">
            <div class="">
                <img 
              src="assets/emp.png" alt="">
            </div>
          </div>
    </div>
</section>

