.form1{
    padding-inline: 1.8em;
    padding-top: .6em;
    padding-bottom: 1.6em;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
   }
   .addItem{
    display:flex ;
    justify-content :center;
    margin-top: 6%;
    
   }